<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%-ruta%>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%-Libro%></h5>
      <p class="card-text"><%-Autor%></p>
      <p class="card-text"><%-Edicion%></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>